html {
    font-size: 12px;
}

@media (min-width:800px) {
    html {
        font-size: 14px;
    }
}

/*navigation section*/
.custom-menu {
    background-color: darkgreen;
}

.custom-nav-menu {
    list-style: none;
       margin: 0;
 padding-left: 0; 
}
.custom-nav-menu-item {
    text-decoration: none;
}

/**/