<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
      autoReload="true">
	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>
	<targets>
		<target xsi:type="File" name="InfoData" fileName="${basedir}/logs/${shortdate}/Info.txt"
		        layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${newline}${message}:${exception:format=tostring}${newline}"/>
		
		<target xsi:type="File" name="DebugData" fileName="${basedir}/logs/${shortdate}/Debug.txt"
		        layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${newline}${message}:${exception:format=tostring}${newline}"/>
		
		<target xsi:type="File" name="TraceData" fileName="${basedir}/logs/${shortdate}/Trace.txt"
		        layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${newline}${message}:${exception:format=tostring}${newline}"/>
		
		
		<target xsi:type="File" name="WarnData" fileName="${basedir}/logs/${shortdate}/Warning.txt"
		        layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${newline}${message}:${exception:format=tostring}${newline}"/>
		<target xsi:type="File" name="MinWarnData" fileName="${basedir}/logs/${shortdate}/WarningMin.txt"
		        layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${newline}${message}:${exception:format=tostring}${newline}"/>
		
		
		<target xsi:type="File" name="FatalData" fileName="${basedir}/logs/${shortdate}/Fatal.txt"
		        layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${newline}${message}:${exception:format=tostring}${newline}"/>
		<target xsi:type="File" name="MinFatalData" fileName="${basedir}/logs/${shortdate}/FatalMin.txt"
		        layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${newline}${message}:${exception:format=tostring}${newline}"/>
		
		
		<target xsi:type="File" name="ErrorData" fileName="${basedir}/logs/${shortdate}/Error.txt"
		        layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${newline}${message}:${exception:format=tostring}${newline}"/>
		<target xsi:type="File" name="MinErrorData" fileName="${basedir}/logs/${shortdate}/ErrorMin.txt"
		        layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${newline}${message}:${exception:format=tostring}${newline}"/>
	</targets>
	<rules>
		<logger name ="*" minlevel="Trace" writeTo ="TraceData"/>
		<logger name ="*" minlevel="Debug" writeTo ="DebugData"/>
		<logger name ="*" minlevel="Info" writeTo ="InfoData"/>


		<logger name ="*" level="Error" writeTo ="ErrorData"/>
		<logger name ="*" minlevel="Error" writeTo ="MinErrorData"/>
		<logger name ="*" level="Fatal" writeTo ="FatalData"/>
		<logger name ="*" minlevel="Fatal" writeTo ="minFatalData"/>
		<logger name ="*" level="Warn" writeTo ="WarningData"/>
		<logger name ="*" minlevel="Warn" writeTo ="MinWarningData"/>

	</rules>
</nlog>